@import org.webjars.WebJarAssetLocator
@import scala.util.Try
@import scala.util.Random
@(version:String,enableRedactor:Boolean,devServer:Boolean,basePath:String,color:String)

<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <link rel="manifest" href="@{basePath}manifest.webmanifest" />


        <link rel="apple-touch-icon" sizes="180x180" href="@{basePath}apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="@{basePath}favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="@{basePath}favicon-16x16.png">
        <meta name="msapplication-TileColor" content="@color">



        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <script>
            const swUrl = '@{basePath}sw.js?basePath=' + encodeURIComponent('@{basePath}');
            navigator.serviceWorker.register(swUrl)
        </script>

        <!-- remove hash -->
        <script>
                if(window.location.hash.startsWith("#/")) {
                    var queryString = window.location.search
                    console.log("qs: " + queryString)
                    var _location = window.location.toString()
                    console.log("l: " + _location)
                    _location = _location.replace(queryString,'')
                    console.log("l: " + _location)
                    _location = _location.replace('#/', '')
                    console.log("l: " + _location)
                    window.location = _location + queryString
                }
        </script>

        <title></title>

        <base href="@basePath">


            <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="@{basePath}assets/bootstrap/dist/css/bootstrap.min.css">
        <script src="@{basePath}assets/@@fortawesome/fontawesome-free/js/all.min.js"></script>
        <link rel="stylesheet" href="@{basePath}assets/flatpickr/dist/flatpickr.min.css">
        <link rel="stylesheet" href="@{basePath}assets/flatpickr/dist/themes/dark.css">
        <link rel="stylesheet" href="@{basePath}assets/quill/dist/quill.snow.css">

        <link rel="stylesheet" href="@{basePath}assets/ol/ol.css" >

        @for(group <- Seq("latin","latin-ext")) {
            @for( width <- Seq("300","400","600","700")) {
                <link rel="stylesheet" href="@{basePath}assets/@@fontsource/open-sans/@group-@{width}.css" >
            }
        }



        <link rel="stylesheet" href="@{basePath}assets/choices.js/public/assets/styles/choices.min.css" />

        <link rel="stylesheet" href="@{basePath}assets/gridstack/dist/gridstack.min.css" />
        <link rel="stylesheet" href="@{basePath}assets/gridstack/dist/gridstack-extra.min.css" />

        @if(enableRedactor) {
            <link rel="stylesheet" href="@{basePath}redactor.css" />
            <script src="@{basePath}redactor.js"></script>
        }




        <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>

        @if(devServer) {

            <script defer src="@{basePath}dev/client-fastopt-library.js" type="text/javascript"></script>
        } else {
            <script src="@{basePath}bundle/box-app.js" type="text/javascript"></script>
        }


        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=9" />

    </head>
    <body>
    </body>
</html>
