@import ch.wsl.box.viewmodel.MatomoConfig
@(version:String,uiModule:String,basePath:String,color:String,matomo:Option[MatomoConfig])
<!DOCTYPE html>
<html lang="en">
    <head lang="en">
        <meta charset="UTF-8">
        <meta name="msapplication-TileColor" content="@color">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="manifest" href="@{basePath}manifest.webmanifest" />
        <link rel="apple-touch-icon" sizes="180x180" href="@{basePath}apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="@{basePath}favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="@{basePath}favicon-16x16.png">

        <title></title>
        <base href="@basePath">


        <script>
                window.boxUiModule = "@uiModule"
                window.boxFrontendUrl = "@basePath"

                if(window.location.hash.startsWith("#/")) {
                    var queryString = window.location.search
                    console.log("qs: " + queryString)
                    var _location = window.location.toString()
                    console.log("l: " + _location)
                    _location = _location.replace(queryString,'')
                    console.log("l: " + _location)
                    _location = _location.replace('#/', '')
                    console.log("l: " + _location)
                    window.location = _location + queryString
                }

        </script>


        <script type="module" crossorigin src="/ui/index.@{version}.js"></script>
        <link rel="stylesheet" crossorigin href="/ui/index.@{version}.css">

        @matomo.map{ m =>
            <!-- Matomo -->
            <script>
                    var _paq = window._paq = window._paq || [];
                    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
                    _paq.push(['trackPageView']);
                    _paq.push(['enableLinkTracking']);
                    (function() {
                        var u="@{m.tracker_url}";
                        _paq.push(['setTrackerUrl', u+'matomo.php']);
                        _paq.push(['setSiteId', '@{m.site_id}']);
                        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                        g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
                    })();
            </script>
            <!-- End Matomo Code -->
        }

    </head>
    <body>
        <div id="app"></div>

    </body>
</html>
