@import ch.wsl.box.model.shared.PDFTable
@(table:PDFTable)


<html>
    <head>
        <style>

            @@page {
                size: A4 landscape;
            }
            table {
                width: 100%;
            }
        </style>
    </head>
    <body>
        <h3>@table.title</h3>
        <table>
            <tr>
            @for(header <- table.header) {
                <th>@header</th>
            }
            </tr>
            @for(row <- table.rows) {
                <tr>
                    @for(cell <- row) {
                        <td>@cell</td>
                    }
                </tr>
            }
        </table>
    </body>
</html>